.adsbygoogle{
    display: none !important;
}
.ad-template {
    display: none !important;
}
.banner_box {
    display: none !important;
}
.GoogleActiveViewElement {
    display: none !important;
}
.google_ads_iframe {
    display: none !important;
}
.amp-animate amp-dark-mode amp-mode-mouse {
    display: none !important;
}
.view-ad-fixed {
    display: none !important;
}
.google_ads_iframe_ {
    display: none !important;
}
.i-amphtml-inabox i-amphtml-singledoc i-amphtml-standalone i-amphtml-iframed {
    display: none !important;
}
.RS_yonhapnewstv_top_970_250 {
    display: none !important;
}
.view-ad-center {
    display: none !important;
}
.innorameAJzO3A {
    display: none !important;
}
.innorame-slot {
    display: none !important;
}
#sspIframe {
    display: none !important;
}